
<div id="main-logo-container"class="col-3 text-center pl-0 pr-0">
    <img src="/images/BrewHaHa_vert-290x300.png" class="main-logo">
</div>
<div id="main-header-text"class="col-9 text-center vertical-center">Products</div>