<div class="container-fluid" id="table-container">
    <table class="table table-dark text-center vertical-center">
  <thead>
    <tr>
      <th scope="col">Groups</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
      {{#each groupElements}}
    <tr>
      <th scope="row">{{name}}</th>
      <td><button type="button" id="edit-btn"class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" onclick="editInput('{{name}}','{{id}}')">Edit</button>
      <button type="button" id="edit-btn"class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" onclick="deleteInput('{{id}}')">Delete</button>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="d-flex justify-content-end"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newgroupModal">
    Új csoport
</button>{{> groupmodal}}</div>
</div>

<script>
  function editInput(groupName,groupdId) {
    document.querySelector('#editInput').value = groupName;
    document.querySelector('#editId').value = groupdId;
  }

  function deleteInput(id) {
    document.querySelector('#deleteId').value = id;
    console.log(id);
  }
</script>
